body{
    font-family: "Lucida Console", "Courier New", monospace;
}
.main{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: center;
    gap: 20px;
    
}
.basic,.standard,.premium{
       flex: 1;
       background-color: #f2f2f2;
       width:500px;
       text-align: center;
       flex-basis: 380px;
       margin: 15px;
       padding: 10px;
       border-radius: 3%;
}
    .text{
        font-size: 25px;
        font-weight: bolder;
        justify-content: center;
       
}
button{
    background-color:#ff6600;
    color: #ffff;
    border-radius: 5px;
    padding: 10px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
@media(max-width:1200px){
    .main{
        
        flex-direction: column;
       
    }
    .basic,.standard,.premium{  
       flex:none
      
    }
}