.outerbox
{
    width: 100%;
    height: 500px;
    color: rgb(18, 18, 19);
    background-color: rgb(10, 10, 10);
    padding: 10px;
    display: flex;
    
}
.box1{

    background:green;
    width: 100px;
    height: 100px;
    
}

.box2
{
    background:rgb(218, 11, 11);
    width: 100px;
    height: 100px;
    
}
.box3
{
    background:rgb(18, 62, 5);
    width: 100px;
    height: 100px;

}
.box4
{
    background:rgb(8, 8, 223);
    width: 100px;
    height:100px; 
}

